p{color:rgb(140, 0, 255)}
p{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
p{font-size: larger;}
body{background-color: rgb(255, 166, 0);}
#warka{color: skyblue;}
div
{
    max-width: 700px;
}
